@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "DMSans";
    src: local("DMSans"),
         url("src/fonts/DMSans.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "Cagody";
    src: local("Cagody"),
         url("src/fonts/Cagody.otf") format("opentype");
  }
  
  @font-face {
    font-family: "GildaDisplay-Regular";
    src: local("GildaDisplay-Regular"),
         url("src/fonts/GildaDisplay-Regular.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "Gravinced";
    src: local("Gravinced"),
         url("src/fonts/gravinced.otf") format("opentype");
  }
  
  @font-face {
    font-family: "Montilla";
    src: local("Montilla"),
         url("src/fonts/Montilla.otf") format("opentype");
  }
  